extends ../shared/html

block content
  -  function requestLink () { return host+'/reset/?request_hash='+request_hash }
  h2 Hi #{username}!
  div Forgot your password? Press the following link
    a(href=requestLink()) Forgot Link (#{requestLink()})
