head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='viewport', content='width=device-width')
  style(type="text/css").
    /*style*/
    .ReadMsgBody {width: 100%;}
    .ExternalClass {width: 100%;}
body
  | Template!
  block content
