// Buttons

.social {
  .btn {
    width: 100%;
    color: white;
    margin-bottom: 10px
  }
  .btn-facebook {
    background: #3A5998;
  }
  .btn-twitter {
    background: #55ACEE;
  }
  .btn-google {
    background: #DD4B39;
  }
}
