// Stuff
$light-yellow: #FBC857;
$light-blue: #65CFDD;
$light-red: #ED667B;
$yellow: #FABA2D;
$blue: #3EC3D5;
$red: #E9405A;
$charcoal: #313540;
$gray: #cfdddb;

// Bootstrap vars
$brand-primary: $light-blue;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
