doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='http://localhost:8080/app/assets/css/main.less')
    block head
  body
    block content
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='http://localhost:8080/bundle.js')
    
