doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, maximum-scale=1, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css')
    link(rel='stylesheet', href='/static/main.css')
    block head
  body
    block content
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
    script new WOW().init()
    script(src=assets_host+'/static/main.js')
    
