doctype html
html
  head
    title= title
    block head
  body
    block content
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='http://localhost:8080/static/main.js')
    
