doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    block head
  body
    block content
    script(src='http://cdn.ractivejs.org/latest/ractive.min.js')
    script(type='text/javascript', src='/js/main.js')
