doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    block head
  body
    block content
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='http://localhost:3000/static/main.js')
    
